body{
  background-image: url(/assets/images/background_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0A0B06;
}

section.start-screens{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.user-action-form{
  width: 300px;
  padding: 0 10px 15px 10px;
  display: flex;
  flex-direction: column;
  /* background-color: #0A0B06; */
  background-color: rgba(10,11,6,0.8);
  color: #FFF;
}

.user-action-form input{
  height: 40px;
  outline: 0;
  border: 0;
  color: #757690;
  border-bottom: 2px solid #F31621;
  font-family : inherit;
  font-size   : 100%;
  background-color: transparent;
}

.user-action-form label{
  margin-top: 15px;
}

.user-action-form button{
  width: 140px;
  height: 40px;
  margin: 20px;
  background-color: #003ACA;
  margin: 20px auto;
  outline: 0;
  border: 0;
  color: white;
}

.user-action-form a{
  color: #FFF;
  text-align: center;
  text-decoration: none;
  display: block;
}
